/* variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f8d739;
  --secondary-color: #f695a1;
  --text-primary-color: #414141;
  --text-secondary-color: #7e7d7d;
  --buy-bg-color: #25d366;
  --buy-text-color: #ffffff;
  --whatsapp-color: #25d366;
}

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a.buy-now-button {
  border-radius: 60px;
  color: #fff;
  background-color: var(--buy-bg-color);
  padding: 20px 55px;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}

.menu ul li.menu-buy-btn a {
  border: var(--btn-buy-menu-color);
  border: 3px solid var(--secondary-color);
  color: var(--btn-buy-menu-color);
  padding: 7px 19px;
  border-radius: 35px;
  color: var(--secondary-color);
}

/* start header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 90px;
  background-color: #f5f5f5;
}

.menu {
  direction: rtl;
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-right: 15px;
}

.menu ul li a {
  margin-right: 20px;
  color: var(--menu-item-color);
  font-weight: 500;
  font-size: 18px;
}

#header-logo img {
  max-height: 50px;
}

/* end header */

/* start first section */

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 125px;
  background-color: #f5f5f5;
}

.product-description {
  direction: rtl;
  text-align: right;
  max-width: 60%;
}

.product-description h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.product-description p {
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 1.8;
  color: var(--text-secondary-color);
  max-width: 90%;
  margin: 20px 0 30px 0;
}

.first-section .img-container {
  direction: rtl;
}

.first-section img {
  max-width: 100%;
  height: auto;
  width: 550px;
}

/* end first section */

/* start second section */

.second-section {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text within the container */
  padding: 20px;
  height: auto; /* Full viewport height to ensure vertical centering */
}

.second-section div {
  max-width: 600px; /* Adjust max-width as needed */
}

.second-section h1 {
  margin-bottom: 10px;
}

.second-section p {
  margin-bottom: 20px;
}

.second-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Add space below the image */
}

.buy-now-button {
  display: inline-block;
  text-decoration: none; /* Remove underline from link */
  color: #fff; /* Change link text color */
  background-color: #000; /* Change link background color */
  padding: 10px 20px;
  border-radius: 5px; /* Optional: Round the corners of the link */
}

/* end second section */

/* start benefits section */

.benefits {
  text-align: center;
  padding: 20px;
}

.benefits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.benefits-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.right-benefits-column {
  align-items: start;
}

.left-benefits-column {
  align-items: end;
}

.benefit-item {
  padding: 35px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.benefit-item p {
  font-size: 28px;
  font-weight: 900;
  margin: 0 10px;
  text-align: left; /* Text from left to right */
}

.benefits-image img {
  max-width: 100%;
  height: auto;
}

.buy-now-button {
  display: inline-block;
  text-decoration: none; /* Remove underline from link */
  color: #fff; /* Change link text color */
  background-color: #000; /* Change link background color */
  padding: 10px 20px;
  border-radius: 5px; /* Optional: Round the corners of the link */
  margin-top: 20px;
}

/* RTL styling for the buy button text */
.buy-now-button {
  direction: rtl; /* Make the text flow from right to left */
}

/* end benefits section */

/* global custom classes */
.header-text {
  font-size: 64px;
  width: 100%;
  min-width: max-content;
  font-weight: 600;
  text-wrap: nowrap;
  text-align: center;
  color: var(--text-primary-color);
  letter-spacing: 2px;
}

.header-text-ar {
  font-size: 64px;
  width: 100%;
  min-width: max-content;
  font-weight: 600;
  text-wrap: nowrap;
  text-align: center;
  color: var(--text-primary-color);
  letter-spacing: 2px;
}

.description-text {
  margin-top: 25px;
  font-size: 24px;
  word-spacing: 4px;
  line-height: 130%;
  width: 35%;
  max-width: 700px;
  color: var(--text-secondary-color);
}

/* Start form */
.buy-section {
  margin-top: 30px;
  padding: 0 90px;
}

.buy-section h1 {
  display: flex;
  justify-content: center;
  direction: rtl;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 40px;
}

.buy-section .form-container {
  display: flex;
  justify-content: space-between;
}

.buy-section .form-container .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* background-color: red; */
}

.buy-section .form-container .form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* gap: 5px; */
}

.form .total {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  gap: 10px;
}

.form-group.total button {
  width: 25%;
}

/* End form */
.fa-check {
  font-size: 24px;
}
.second-benifit {
  margin: 0 40px;
}
@media screen and (max-width: 450px) {
  .header {
    padding: 40px 20px;
  }
  .header {
    direction: rtl;
  }
  .menu ul {
    direction: ltr;
  }
  .menu ul li a {
    display: none;
  }
  .menu ul .menu-buy-btn a {
    display: block;
    margin: 0;
    text-wrap: nowrap;
  }
  .first-section {
    margin-bottom: 60px;
    flex-direction: column;
  }
  .product-description {
    max-width: 100%;
  }
  .product-description h1 {
    font-size: 44px;
  }
  .product-description p {
    font-size: 16px;
  }
  .header-text {
    font-size: 22px;
    font-weight: 600;
    text-wrap: wrap;
  }
  .header-text-ar {
    font-size: 38px;
    font-weight: 600;
    text-wrap: wrap;
  }
  .second-section {
    height: auto;
    min-width: auto;
  }
  .description-text {
    margin-top: 15px;
    font-size: 16px;
    width: 90%;
    min-width: auto;
    font-weight: 600;
  }
  a.buy-now-button {
    font-size: 16px;
    padding: 15px 30px;
  }
  .fa-check {
    font-size: 14px;
  }
  .benefits-column {
    align-items: start;
  }
  .benefits-container {
    gap: 0;
    justify-content: start;
  }
  .benefit-item {
    padding: 0;
  }
  .benefit-item p {
    padding: 0 0;
    margin: 0;
    font-size: 18px;
  }
  .second-benifit {
    margin: 0;
  }
  .left-benefits-column {
    width: 100%;
    align-items: end;
  }
}
